<div class="meal-item card-blur" [class.admin-meal]="meal.createdByType === 'admin'"
    [class.user-meal]="meal.createdByType === 'user'" (click)="onSelect()">
    <div class="meal-info">
        <div class="meal-name">
            {{ meal.name }}
        </div>
        <div class="meal-quantity">
            👥 {{ meal.servings }} serving{{ meal.servings > 1 ? 's' : '' }}
        </div>
    </div>
    <div class="meal-nutrition">
        <span class="cal">{{ meal.totalCalories.toFixed(0) }} cal</span>
        <span class="protein">P: {{ meal.totalProtein.toFixed(1) }}g</span>
        <span class="carbs">C: {{ meal.totalCarbs.toFixed(1) }}g</span>
        <span class="fat">F: {{ meal.totalFat.toFixed(1) }}g</span>
    </div>
    <div class="meal-actions">
        <button class="btn-ghost" (click)="onView(); $event.stopPropagation()">👁️</button>
        <button *ngIf="meal.createdByType == 'user'" class="btn-ghost" (click)="onEdit(); $event.stopPropagation()">✏️</button>
        <button *ngIf="meal.createdByType == 'user'" class="btn-ghost" (click)="onDelete(); $event.stopPropagation()">🗑️</button>
    </div>
</div>