@use '../../../../../styles.scss' as styles;


.ingredients-list {
    @include styles.vertical-container(styles.$space-small);

    .column-details {

        .ingredient-item {
            @include styles.horizontal-container(styles.$space-base);
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            border-radius: styles.$radius-10;
            border: 1px solid styles.$color-accent !important;

            .col-name {
                width: 100%;
            }

            .ingredient-value {
                width: 50%;
                padding: 0;
                text-align: center;
                font-weight: styles.$font-weight-title;
            }

            .truncate {
                max-width: 250px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .col-protein {
                color: styles.$color-error;
            }

            .col-fat {
                color: styles.$color-warning;
            }

            .col-fiber {
                color: styles.$color-success;
            }

            .col-carbs {
                color: styles.$color-blue;
            }
        }
    }
}

@media (max-width: 768px) {
    .column-details {
        display: none;
    }
}


