@use '../../../../../styles.scss' as styles;

.ingredient-item {
    @include styles.horizontal-container(styles.$space-base);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: styles.$radius-10;

    .col-name {
        width: 100%;
    }

    .ingredient-value {
        width: 50%;
        padding: styles.$space-base 0;
        text-align: center;
        font-weight: styles.$font-weight-title;
    }

    .truncate {
        max-width: 250px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .col-protein {
        color: styles.$color-error;
    }

    .col-fat {
        color: styles.$color-warning;
    }

    .col-fiber {
        color: styles.$color-success;
    }

    .col-carbs {
        color: styles.$color-blue;
    }
}

.admin-ingredient {
    border-left: 4px solid styles.$color-accent !important;
}

.user-ingredient {
    border-left: 4px solid styles.$color-blue !important;
}