<div class="ingredient-item card-blur" [class.admin-ingredient]="ingredient?.createdByType === 'admin'"
    [class.user-ingredient]="ingredient?.createdByType === 'user'" (click)="onSelect()">
    <div class="col-name truncate">
        <span class="creator-badge" [class]="ingredient?.createdByType">
            {{ ingredient?.createdByType === 'admin' ? '👑' : '👤' }}
        </span>
        <span class="ingredient-name">{{ ingredient?.name }}</span>
    </div>

    <div class="ingredient-value col-calories">
        <span class="value">{{ ingredient?.caloriesPer100g }}</span>
    </div>

    <div class="ingredient-value col-protein">
        <span class="value">{{ ingredient?.proteinPer100g }}</span>
    </div>

    <div class="ingredient-value col-carbs">
        <span class="value">{{ ingredient?.carbsPer100g }}</span>
    </div>

    <div class="ingredient-value col-fat">
        <span class="value">{{ ingredient?.fatPer100g }}</span>
    </div>

    <div class="ingredient-value col-fiber">
        <span *ngIf="ingredient?.fiberPer100g; else noFiber" class="value">{{ ingredient?.fiberPer100g }}</span>
        <ng-template #noFiber><span class="no-data">-</span></ng-template>
    </div>

    <div *ngIf="ingredient?.createdByType == 'user' " class="ingredient-actions">
        <button class="btn-ghost" (click)="onEdit()">✏️</button>
        <button class="btn-ghost" (click)="onDelete()">🗑️</button>
    </div>
</div>